python-dotenv
ipykernel
pandas
numpy
#streamlit
openpyxl
#jason
#csv
tk
watchdog
matplotlib
plot
pgmpy>=1.0.0
plotly
graphviz
python-docx 
networkx>3.0
seaborn
jupyter
scikit-learn
scipy
requests
flask
joblib
streamlit>=1.32,<2
altair>=5,<7

